# Sonde3 
##  Reads and converts binary water quality environmental instrument data to a DataFrame


### I.  Example Usage

Lets dive in!  

We have a example water quality instrument binary file `"tests/ysi_test_files/SA08.dat"`.  This file was generated by a YSI 600LS instrument and is in proprietary binary format.

#### Using the `sonde()` function we:

1.  `autodetect()` the file type and pass to the correct parser function 
2.  `read_ysi()` the binary file and convert to pandas DataFrame
3.  Transform all datetimes to the UTC timezone
4.  Standardize the units to metric and rename the columns to standard name conventions
3.  Pass the DataFrame to `calculate_salinity_psu()` and `calculate_do_mgl()` to apply standard formulas to generate the salinity and dissolved oxygen columns.

In [1]:
import sonde3
import pandas
%matplotlib inline
metadata, df = sonde3.sonde("tests/ysi_test_files/SA08.dat", remove_invalids=False, twdbparams=True)

C:\Users\ETurner\Desktop\python\sonde3\sonde3\sonde.py:20: UserWarning: Info: No time zone was set for file, assuming records are recorded in CST
  metadata, df = formats.read_ysi(filename, tzinfo)
C:\Users\ETurner\AppData\Local\Continuum\Anaconda3\lib\site-packages\seawater\library.py:363: RuntimeWarning: invalid value encountered in sqrt
  Rtx = (rt) ** 0.5

#### Why the runtime warnings?

1.  The YSI instrument files don't contain any timezone information.  Therefore, the function has to assume that the timezone of the file to make the UTC conversion.

2. Often raw instrument files will contain impossible & incorrect values in the beginning and end of the file.  Examples: negative values for salinity or dissolved oxygen percentage.  `sonde3` does not trim the raw file, or perform QA analysis.  `sonde3` will pass the values as they were recorded by the instrument.

To automatically convert invalid negative values to zero, either set the flag **remove_invalids=False** or remove it altogether, as this is the default behavior of the package

##### We can now interact with the two dataframes produced by `sonde3`:

In [2]:
df.info() 
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
Datetime_(UTC)                               700 non-null datetime64[ns, UTC]
water_temperature                            700 non-null float64
water_electrical_conductivity                700 non-null float64
water_depth_nonvented                        700 non-null float64
water_dissolved_oxygen_percent_saturation    700 non-null float64
instrument_battery_voltage                   700 non-null float64
water_specific_conductance                   700 non-null float64
seawater_salinity                            678 non-null float64
water_dissolved_oxygen_concentration         678 non-null float64
dtypes: datetime64[ns, UTC](1), float64(8)
memory usage: 49.3 KB

,Datetime_(UTC),water_temperature,water_electrical_conductivity,water_depth_nonvented,water_dissolved_oxygen_percent_saturation,instrument_battery_voltage,water_specific_conductance,seawater_salinity,water_dissolved_oxygen_concentration
0,2008-07-16 12:00:31+00:00,28.998718,0.000037,0.010862,93.391418,6.09375,0.000035,0.013536,7.183420
1,2008-07-16 13:00:31+00:00,28.482361,0.000059,0.016358,96.765137,6.09375,0.000055,0.013326,7.510631
2,2008-07-16 14:00:31+00:00,27.257385,0.000546,0.017263,103.529358,6.09375,0.000524,0.012655,8.212117
3,2008-07-16 15:00:31+00:00,29.507751,21.301758,0.542648,93.055725,6.09375,19.613107,11.601472,6.655432
4,2008-07-16 16:00:31+00:00,29.762268,21.454102,0.557098,94.188690,6.09375,19.665354,11.631321,6.706414

In [3]:
metadata

,Model,Manufacturer,Instrument_Serial_Number,Station,Deployment_Setup_Time,Filename,Deployment_Start_Time,Deployment_Stop_Time
0,600,YSI,1012,SANT_CDT,,SA08.dat,2008-07-16 12:00:31+00:00,2008-08-14 15:00:16+00:00

### II.  Working with time zones


What if data was collected outside of US/Central time?  Pass the timezone information to `sonde3.sonde`:

In [4]:
import pytz
metadata, df = sonde3.sonde("tests/ysi_test_files/SA08.dat", pytz.timezone('US/Eastern'))
df.head()

,Datetime_(UTC),water_temp_C,water_conductivity_mS/cm,water_depth_m_nonvented,water_DO_%,instrument_battery_voltage,water_specific_conductivity_mS/cm,water_salinity_PSU,water_DO_mgl
0,2008-07-16 11:00:31+00:00,28.998718,0.000037,0.010862,93.391418,6.09375,0.000035,0.013536,7.183420
1,2008-07-16 12:00:31+00:00,28.482361,0.000059,0.016358,96.765137,6.09375,0.000055,0.013326,7.510631
2,2008-07-16 13:00:31+00:00,27.257385,0.000546,0.017263,103.529358,6.09375,0.000524,0.012655,8.212117
3,2008-07-16 14:00:31+00:00,29.507751,21.301758,0.542648,93.055725,6.09375,19.613107,11.601472,6.655432
4,2008-07-16 15:00:31+00:00,29.762268,21.454102,0.557098,94.188690,6.09375,19.665354,11.631321,6.706414

### III. Autodetecting files



Curious about what kind of instrument files you have in a directory?  Apply the `sonde3.autodetect` method:

```python
#what kind of file is this??
sonde3.autodetect("tests/greenspan_test_files/RIOA_20060718_CDT_GS7837.xls") 
```

In [5]:
sonde3.autodetect("tests/greenspan_test_files/RIOA_20060718_CDT_GS7837.xls")

'greenspan_xls'

Copy this code snippet to the notebook line below to run `autodetect()` on all of the use-case examples in the `sonde3` package:

```python
#this script runs through all of the text examples and prints out the autodetect results
import os

root_dir = 'tests'
results = []
for directory, subdirectories, files in os.walk(root_dir):
    for file in files:
        if "_test.txt" in file:
            continue
        os.path.join(directory, file)
        results.append(os.path.join(directory, file) + ' ' + sonde3.autodetect(os.path.join(directory, file)))

results 
```

### IV. Generating Salinity and Dissolved Oxygen

Typically deployed water quality instruments do not compute all rows of data internally.  Instead, these are calculated by the program used to read the file back at the lab.  For example, YSI instruments do not compute salinity or dissolved oxygen concentration.  This can cause confusion because when viewing a YSI *\*.dat* file in YSI's ECOWIN, or Ecowatch Lite program displays salinity and DO mg/L.  However, the raw binary file does not include these rows as they were not physically collected by the instrument during deployment.

For example, lets read the raw binary file of the example file `"tests/ysi_test_files/SA08.dat"` and see what it contains:

In [6]:
metadata, SA08_BIN = sonde3.read_ysi("tests/ysi_test_files/SA08.dat",pytz.timezone('US/Central'))
SA08_BIN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 6 columns):
Datetime_(UTC)                700 non-null datetime64[ns, UTC]
water_temp_C                  700 non-null float64
water_conductivity_mS/cm      700 non-null float64
water_depth_m_nonvented       700 non-null float64
water_DO_%                    700 non-null float64
instrument_battery_voltage    700 non-null float64
dtypes: datetime64[ns, UTC](1), float64(5)
memory usage: 32.9 KB

The pandas DataFrame contains the columns for conductivity and % DO saturation, but not for salinity and DO concentration.

For comparision, lets read the comma separated version of this file that was produced by the proprietary YSI Ecowin program:

In [7]:
metadata, SA08_CSV = sonde3.read_ysi_ascii("tests/ysi_test_files/SA08.CDF", pytz.timezone('US/Central'),delim=",")

The ECOWIN exported comma separated file has far more columns! The extra columns were derived through formulas using the instrumnet observed measurments.

To generate these columns pass the SA08_BIN DataFrame to calculate Salinity (PSU) and Dissolved Oxygen (mg/L) using `sonde3.calculate_salinity_psu()` and `sonde3.calculate_do_mgl()`

We can then compare our computed results to the ECOwatch program results:

In [8]:
SA08_BIN = sonde3.calculate_salinity_psu(SA08_BIN)
SA08_BIN = sonde3.calculate_do_mgl(SA08_BIN)
SA08_BIN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 8 columns):
Datetime_(UTC)                700 non-null datetime64[ns, UTC]
water_temp_C                  700 non-null float64
water_conductivity_mS/cm      700 non-null float64
water_depth_m_nonvented       700 non-null float64
water_DO_%                    700 non-null float64
instrument_battery_voltage    700 non-null float64
water_salinity_PSU            678 non-null float64
water_DO_mgl                  678 non-null float64
dtypes: datetime64[ns, UTC](1), float64(7)
memory usage: 43.8 KB

C:\Users\ETurner\AppData\Local\Continuum\Anaconda3\lib\site-packages\seawater\library.py:363: RuntimeWarning: invalid value encountered in sqrt
  Rtx = (rt) ** 0.5

So, why does `sonde3` produce less values for salinity and DO than the comma separated file?  Is this a bug?

*NO!*  If you recal from the `sqrt()` warning above, some of the values in the file are invalid.  This produces null (**NaN**) values in those rows.

In [9]:
SA08_BIN.tail()

,Datetime_(UTC),water_temp_C,water_conductivity_mS/cm,water_depth_m_nonvented,water_DO_%,instrument_battery_voltage,water_salinity_PSU,water_DO_mgl
695,2008-08-14 11:00:16+00:00,23.977051,-0.000006,-0.052356,-0.006866,5.546875,NaN,NaN
696,2008-08-14 12:00:16+00:00,23.938599,-0.000005,-0.050262,-0.006866,5.468750,NaN,NaN
697,2008-08-14 13:00:16+00:00,24.039307,-0.000005,-0.045875,-0.006866,5.468750,NaN,NaN
698,2008-08-14 14:00:16+00:00,24.107056,-0.000005,-0.038671,-0.006866,5.468750,NaN,NaN
699,2008-08-14 15:00:16+00:00,24.177551,-0.000006,-0.034785,-0.006866,5.468750,NaN,NaN

Lets check our two files to see if our conversion methods are those used by YSI.  

Lets use `numpy.random` to pick a row to check:

In [10]:
from numpy import random
row = random.randint(2,677) # pick random row

sub1 =  SA08_BIN.iloc[row:row+1]  #row one binary file
sub2 = SA08_CSV.iloc[row:row+1]   #row two csv file

pandas.concat([sub1, sub2], axis=0,join="inner")

,Datetime_(UTC),water_temp_C,water_conductivity_mS/cm,water_depth_m_nonvented,water_DO_%,instrument_battery_voltage,water_salinity_PSU,water_DO_mgl
533,2008-08-07 17:00:31+00:00,29.888611,29.248047,0.586838,54.52652,5.78125,16.283579,3.776289
533,2008-08-07 17:00:31+00:00,29.890000,29.248000,0.587000,54.50000,5.80000,16.290000,3.780000

Looks the same!  Notice, however, that the csv file values are rounded due to the fixed digit precision.

### V. Files from other Manufacturers and Models
#### a. Hydrotech

In [11]:
metadata, mydf = sonde3.sonde("tests/hydrotech_test_files/0109DELT.CSV", pytz.timezone('US/Central'))

C:\Users\ETurner\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [12]:
metadata

,Manufacturer,Instrument_Serial_Number,Model,Station,Deployment_Setup_Time,Deployment_Start_Time,Deployment_Stop_Time,Filename
0,Hydrotech,081107-D,MiniSonde4a,0109delt,2009-01-13 06:00:00+00:00,2009-01-14 13:00:00+00:00,2009-02-12 16:00:00+00:00,NaN

In [13]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 13 to 712
Data columns (total 7 columns):
Datetime_(UTC)                       700 non-null datetime64[ns, UTC]
water_temp_C                         700 non-null float64
water_specific_conductivity_mS/cm    700 non-null float64
water_depth_m_nonvented              700 non-null float64
instrument_battery_voltage           700 non-null float64
water_conductivity_mS/cm             700 non-null float64
water_salinity_PSU                   700 non-null float64
dtypes: datetime64[ns, UTC](1), float64(6)
memory usage: 43.8 KB

In [14]:
mydf.head()

,Datetime_(UTC),water_temp_C,water_specific_conductivity_mS/cm,water_depth_m_nonvented,instrument_battery_voltage,water_conductivity_mS/cm,water_salinity_PSU
13,2009-01-14 13:00:00+00:00,12.81,0.866,-0.0,6.0,0.664370,0.428305
14,2009-01-14 14:00:00+00:00,12.57,0.868,-0.0,6.0,0.661926,0.429304
15,2009-01-14 15:00:00+00:00,12.34,0.867,-0.0,6.0,0.657354,0.428759
16,2009-01-14 16:00:00+00:00,12.59,0.868,-0.0,6.0,0.662257,0.429306
17,2009-01-14 17:00:00+00:00,11.78,0.883,-0.0,6.0,0.660041,0.436875

In [15]:
mydf.tail()

,Datetime_(UTC),water_temp_C,water_specific_conductivity_mS/cm,water_depth_m_nonvented,instrument_battery_voltage,water_conductivity_mS/cm,water_salinity_PSU
708,2009-02-12 12:00:00+00:00,19.24,34.9,1.03,3.9,31.060442,22.008874
709,2009-02-12 13:00:00+00:00,19.22,34.9,1.02,3.9,31.047110,22.008973
710,2009-02-12 14:00:00+00:00,19.31,35.1,1.02,3.9,31.285367,22.147645
711,2009-02-12 15:00:00+00:00,19.44,35.8,1.02,3.9,31.998183,22.634720
712,2009-02-12 16:00:00+00:00,19.34,34.9,1.03,0.0,31.127101,22.008374

#### b. YSI EXO Units

YSI EXO units are timezone aware.  Thus, we discover the internal timezone and convert to UTC if applicable.

In [16]:
sonde3.autodetect("tests/ysi_test_files/GE-SA-B_17H104157_090617_060000.csv")

'ysi_exo_csv'

In [17]:
metadata, exo_df = sonde3.sonde("tests/ysi_test_files/GE-SA-B_17H104157_090617_060000.csv")

C:\Users\ETurner\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [18]:
metadata

,Manufacturer,Instrument_Serial_Number,Sensor_Serial_Numbers,Model,Station,Deployment_Setup_Time,Deployment_Start_Time,Deployment_Stop_Time,Filename,User,Averaging,Firmware,Sensor_Firmware
0,YSI,17H104157,17H102123;17G101402;17H101513;17H100181,EXO,GEB,NaN,2017-09-06 11:15:01,2017-09-26 19:45:00,NaN,Evan Turner,Default,3.0.5,3.0.0;3.0.5;3.0.0;3.0.0

In [19]:
exo_df.head()

,Datetime_(UTC),sonde_fault_code,instrument_battery_voltage,sonde_cable_power_voltage,water_DO_%,water_DO_mgl,water_temp_C,water_nLF_conductivity_uS/cm,water_tds_mgl,water_pressure_abs,water_depth_m_nonvented,water_conductivity_mS/cm,water_specific_conductivity_mS/cm,water_salinity_PSU
21,2017-09-06 11:15:01,0.0,3.1,1.7,100.1,8.091890,26.205,0.0,0.0,0.044,0.031,0.0,0.0000,0.012744
22,2017-09-06 11:30:01,0.0,3.1,1.7,100.0,8.093779,26.137,0.0,0.0,0.043,0.030,0.0,0.0000,0.012720
23,2017-09-06 11:45:01,0.0,3.1,1.7,100.0,8.132112,25.877,0.0,0.0,0.046,0.032,0.0,0.0000,0.012626
24,2017-09-06 12:00:01,0.0,3.1,1.7,99.9,8.167665,25.583,-0.1,0.0,0.049,0.035,-0.0,-0.0001,0.012519
25,2017-09-06 12:15:01,0.0,3.1,1.7,99.9,8.198972,25.374,0.0,0.0,0.049,0.035,-0.0,0.0000,0.012443

#### c. YSI ascii + Comma Separated.

YSI timeseries produced by kermit transfer from YSI handset protocol.

In [20]:
metadata, df = sonde3.sonde("tests/ysi_test_files/0917GEB.txt")

C:\Users\ETurner\Desktop\python\sonde3\sonde3\sonde.py:26: UserWarning: Info: No time zone was set for file, assuming records are recorded in CST
  metadata, df = formats.read_ysi_ascii(filename,  tzinfo,',',None,[1,2,3])

In [21]:
metadata

,Manufacturer,Instrument_Serial_Number,Model,Station,Deployment_Setup_Time,Deployment_Start_Time,Deployment_Stop_Time
0,YSI,,,,,2017-09-08 12:15:08+00:00,2017-09-26 20:00:08+00:00

In [22]:
df.head()

,Datetime_(UTC),water_temp_C,water_tds_g/L,water_pressure_abs,water_depth_m_nonvented,instrument_battery_voltage,water_conductivity_mS/cm,water_specific_conductivity_mS/cm,water_salinity_PSU
0,2017-09-08 12:15:08+00:00,19.93,0.0,14.763,0.303,6.2,0.0,0.0,0.010285
1,2017-09-08 12:30:08+00:00,20.05,0.0,14.767,0.306,6.2,0.0,0.0,0.010336
2,2017-09-08 12:45:08+00:00,20.54,0.0,14.769,0.307,6.2,0.0,0.0,0.010544
3,2017-09-08 13:00:08+00:00,20.91,0.0,14.771,0.309,6.2,0.0,0.0,0.010699
4,2017-09-08 13:15:08+00:00,21.21,0.0,14.774,0.311,6.2,0.0,0.0,0.010823

#### D. Lowell Tiltmeter Comma Separated.

Concatinated timeseries file from a Lowell tiltmeter

In [23]:
metadata, df = sonde3.sonde("tests/lowell_test_files/1603103_SAB_05122016.csv")

C:\Users\ETurner\Desktop\python\sonde3\sonde3\sonde.py:34: UserWarning: Info: No time zone was set for file, assuming records are recorded in CST
  metadata, df = formats.read_lowell(filename,  tzinfo,',')
C:\Users\ETurner\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [24]:
sonde3.merge_lowell()

got one

In [25]:
metadata.head()

,Manufacturer,Instrument_Serial_Number,Model,Station,Deployment_Setup_Time,Deployment_Start_Time,Deployment_Stop_Time,Filename
0,Lowell,1603103,TCM,NaN,NaN,2016-05-13 17:30:00+00:00,2016-07-15 18:00:00+00:00,NaN

### VI. Package Validation Tests

#### A.  Check to see if the package is correctly handling daylight savings time.

The test case dataset **tests/ysi_test_files/0108BAYT.csv** was collected during a daylight savings transition.  These three files were processed differently at the time of instrument processing.  The *.dat* file is the raw binary file from the instrument.  The *CDF* file was produced by the Ecowatch program.  The *cvs* was produced by converting the *CDF* file in ms excel to a comma separated file.  If the times were not consistant between the three files it would indicate **sonde3** is not processing datetime correctly.

In [26]:
#import all three versions of the file ,CDF, csv, and binary *.dat
metadata, baytcsv = sonde3.sonde("tests/ysi_test_files/0108BAYT.csv", pytz.timezone('US/Central'))
metadata, baytdat = sonde3.sonde("tests/ysi_test_files/0108BAYT.dat", pytz.timezone('US/Central'))
metadata, baytCDF = sonde3.sonde("tests/ysi_test_files/0108BAYT.CDF", pytz.timezone('US/Central'))

In [27]:
#cut the first & last row from each file.
pandas.concat([baytCDF.iloc[0:1], baytdat.iloc[0:1], baytcsv.iloc[0:1] , \
               baytCDF.iloc[-1:], baytdat.iloc[-1:], baytcsv.iloc[-1:]], axis=0,join="inner")

,Datetime_(UTC),water_temp_C,water_specific_conductivity_mS/cm,water_depth_m_nonvented,water_DO_%,water_conductivity_mS/cm,water_DO_mgl,water_salinity_PSU
0,2008-01-29 15:00:33+00:00,22.560000,-0.0,-0.0,103.200000,-0.0,8.927547,0.011370
0,2008-01-29 15:00:33+00:00,22.562561,-0.0,-0.0,103.227234,-0.0,8.929467,0.011371
0,2008-01-29 15:00:00+00:00,22.560000,0.0,-0.0,103.200000,0.0,8.927547,0.011370
1061,2008-03-13 19:00:33+00:00,22.510000,-0.0,-0.0,104.300000,-0.0,9.031326,0.011350
1061,2008-03-13 19:00:33+00:00,22.510376,-0.0,-0.0,104.284668,-0.0,9.029934,0.011350
1061,2008-03-13 19:00:00+00:00,22.510000,0.0,-0.0,104.300000,0.0,9.031326,0.011350

In [28]:
metadata, df = sonde3.sonde("tests/lowell_test_files/1708018_3Basin.csv", twdbparams=True)

C:\Users\ETurner\Desktop\python\sonde3\sonde3\sonde.py:34: UserWarning: Info: No time zone was set for file, assuming records are recorded in CST
  metadata, df = formats.read_lowell(filename,  tzinfo,',')
C:\Users\ETurner\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [29]:
df.head()

,Datetime_(UTC),water_speed,water_bearing,northward_water_velocity,eastward_water_velocity,water_temperature
3,2018-02-23 12:05:00+00:00,25.70,27.28,22.84,11.78,10.3240
4,2018-02-23 12:10:00+00:00,25.70,26.36,23.03,11.41,10.3396
5,2018-02-23 12:15:00+00:00,25.70,26.17,23.07,11.33,10.3539
6,2018-02-23 12:20:00+00:00,25.70,25.76,23.15,11.17,10.3767
7,2018-02-23 12:25:00+00:00,25.83,26.96,23.02,11.71,10.3966

In [30]:
metadata, df = sonde3.sonde("T:/baysestuaries/Data/WQData/sites/upbaff/twdb_wq_upbaff_provisional-2.csv")

C:\Users\ETurner\Desktop\python\sonde3\sonde3\sonde.py:28: UserWarning: Info: No time zone was set for file, assuming records are recorded in CST
  metadata, df = formats.read_ysi_ascii(filename,  tzinfo,',',[0])

In [31]:
df.head()
pandas.__version__

'0.23.3'

In [32]:
metadata, df = sonde3.sonde("T:/baysestuaries/Data/WDFT-Coastal/db_archive/deployment/0618-GEAS_17H104161_060718_060000.csv", twdbparams=True)

C:\Users\ETurner\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)
C:\Users\ETurner\Desktop\python\sonde3\sonde3\formats\read_ysi_exo.py:96: UserWarning: Could not match parameter <['Chlorophyll', 'RFU']> to definition file
  DF = match_param(DF,DEFINITIONS)
C:\Users\ETurner\Desktop\python\sonde3\sonde3\formats\read_ysi_exo.py:96: UserWarning: Could not match parameter <['Chlorophyll', 'g/L']> to definition file
  DF = match_param(DF,DEFINITIONS)
C:\Users\ETurner\Desktop\python\sonde3\sonde3\formats\read_ysi_exo.py:96: UserWarning: Could not match parameter <['BGA-PE', 'RFU']> to definition file
  DF = match_param(DF,DEFINITIONS)
C:\Users\ETurner\Desktop\python\sonde3\sonde3\formats\read_ysi_exo.py:96: UserWarning: Could not match parameter <['BGA-PE', 'g/L']> to definition file
  DF = match_param(DF,DEFINITIONS)

In [33]:
metadata.head()

,Manufacturer,Instrument_Serial_Number,Sensor_Serial_Numbers,Model,Station,Deployment_Setup_Time,Deployment_Start_Time,Deployment_Stop_Time,Filename,User,Averaging,Firmware,Sensor_Firmware
0,YSI,17H104161,18D103600;17G101403;17H101443;18D104338;17H101...,EXO,GEA-S,NaN,2018-06-07 09:50:01,2018-07-20 18:30:01,NaN,Evan Turner,Default,3.0.5,3.0.0;3.0.5;3.0.0;3.0.0;3.0.0;3.0.0

In [34]:
type(metadata)

pandas.core.frame.DataFrame

In [35]:
metadata.head()

,Manufacturer,Instrument_Serial_Number,Sensor_Serial_Numbers,Model,Station,Deployment_Setup_Time,Deployment_Start_Time,Deployment_Stop_Time,Filename,User,Averaging,Firmware,Sensor_Firmware
0,YSI,17H104161,18D103600;17G101403;17H101443;18D104338;17H101...,EXO,GEA-S,NaN,2018-06-07 09:50:01,2018-07-20 18:30:01,NaN,Evan Turner,Default,3.0.5,3.0.0;3.0.5;3.0.0;3.0.0;3.0.0;3.0.0

In [36]:
df.head()

,Datetime_(UTC),sonde_fault_code,instrument_battery_voltage,sonde_cable_power_voltage,Chlorophyll RFU,Chlorophyll g/L,BGA-PE RFU,BGA-PE g/L,water_temperature,water_nLF_conductivity_uS/cm,water_tds_mgl,water_dissolved_oxygen_percent_saturation,water_dissolved_oxygen_concentration,water_dissolved_oxygen_concentration,water_pH_mV,water_pressure_abs,water_depth_nonvented,water_electrical_conductivity,water_specific_conductance,seawater_salinity
23,2018-06-07 09:50:01,0.0,2.9,1.7,-0.19,-0.99,-1.86,-5.30,28.075,315.1,206.0,79.5,6.210239,6.210239,-105.7,0.274,0.193,0.3357,0.3171,0.152654
24,2018-06-07 10:00:01,0.0,2.9,1.7,-0.21,-1.06,-1.93,-5.50,28.002,315.2,206.0,79.4,6.210438,6.210438,-105.7,0.276,0.195,0.3354,0.3172,0.152726
25,2018-06-07 10:10:01,0.0,2.9,1.7,-0.20,-1.03,-1.91,-5.43,27.924,315.2,206.0,79.2,6.203356,6.203356,-105.3,0.277,0.196,0.3348,0.3171,0.152677
26,2018-06-07 10:20:01,0.0,2.9,1.7,-0.19,-1.01,-1.82,-5.18,27.848,315.2,206.0,79.2,6.211716,6.211716,-105.3,0.279,0.197,0.3343,0.3171,0.152667
27,2018-06-07 10:30:01,0.0,2.9,1.7,-0.20,-1.02,-1.89,-5.39,27.772,315.4,206.0,79.1,6.212239,6.212239,-105.3,0.279,0.197,0.3340,0.3173,0.152748

In [37]:
df

,Datetime_(UTC),sonde_fault_code,instrument_battery_voltage,sonde_cable_power_voltage,Chlorophyll RFU,Chlorophyll g/L,BGA-PE RFU,BGA-PE g/L,water_temperature,water_nLF_conductivity_uS/cm,water_tds_mgl,water_dissolved_oxygen_percent_saturation,water_dissolved_oxygen_concentration,water_dissolved_oxygen_concentration,water_pH_mV,water_pressure_abs,water_depth_nonvented,water_electrical_conductivity,water_specific_conductance,seawater_salinity
23,2018-06-07 09:50:01,0.0,2.9,1.7,-0.19,-0.99,-1.86,-5.30,28.075,315.1,206.0,79.5,6.210239,6.210239,-105.7,0.274,0.193,0.3357,0.3171,0.152654
24,2018-06-07 10:00:01,0.0,2.9,1.7,-0.21,-1.06,-1.93,-5.50,28.002,315.2,206.0,79.4,6.210438,6.210438,-105.7,0.276,0.195,0.3354,0.3172,0.152726
25,2018-06-07 10:10:01,0.0,2.9,1.7,-0.20,-1.03,-1.91,-5.43,27.924,315.2,206.0,79.2,6.203356,6.203356,-105.3,0.277,0.196,0.3348,0.3171,0.152677
26,2018-06-07 10:20:01,0.0,2.9,1.7,-0.19,-1.01,-1.82,-5.18,27.848,315.2,206.0,79.2,6.211716,6.211716,-105.3,0.279,0.197,0.3343,0.3171,0.152667
27,2018-06-07 10:30:01,0.0,2.9,1.7,-0.20,-1.02,-1.89,-5.39,27.772,315.4,206.0,79.1,6.212239,6.212239,-105.3,0.279,0.197,0.3340,0.3173,0.152748
28,2018-06-07 10:40:01,0.0,2.9,1.7,-0.17,-0.90,-1.89,-5.38,27.700,315.5,206.0,78.8,6.196594,6.196594,-105.1,0.280,0.197,0.3336,0.3173,0.152772
29,2018-06-07 10:50:01,0.0,2.9,1.7,-0.18,-0.96,-1.85,-5.27,27.613,315.6,206.0,78.8,6.206182,6.206182,-104.9,0.281,0.198,0.3331,0.3173,0.152794
30,2018-06-07 11:00:01,0.0,2.9,1.7,-0.18,-0.97,-1.89,-5.38,27.537,315.7,206.0,78.8,6.214578,6.214578,-104.7,0.281,0.198,0.3327,0.3173,0.152829
31,2018-06-07 11:10:01,0.0,2.9,1.7,-0.21,-1.06,-1.89,-5.38,27.446,315.6,206.0,78.5,6.200963,6.200963,-104.5,0.281,0.199,0.3320,0.3172,0.152771
32,2018-06-07 11:20:01,0.0,2.9,1.7,-0.21,-1.06,-1.91,-5.44,27.368,315.8,206.0,78.5,6.209589,6.209589,-104.4,0.282,0.199,0.3317,0.3174,0.152858
33,2018-06-07 11:30:01,0.0,2.9,1.7,-0.18,-0.95,-1.91,-5.44,27.280,315.9,206.0,78.4,6.211427,6.211427,-104.3,0.282,0.199,0.3312,0.3174,0.152882
34,2018-06-07 11:40:01,0.0,2.9,1.7,-0.20,-1.04,-1.95,-5.56,27.197,316.0,206.0,78.3,6.212710,6.212710,-104.3,0.284,0.200,0.3308,0.3175,0.152938
35,2018-06-07 11:50:01,0.0,2.9,1.7,-0.19,-1.00,-1.87,-5.32,27.108,316.1,206.0,78.5,6.238503,6.238503,-104.0,0.286,0.202,0.3303,0.3175,0.152965
36,2018-06-07 12:00:01,0.0,2.9,1.7,-0.20,-1.04,-1.88,-5.36,27.040,316.2,206.0,78.1,6.214276,6.214276,-103.8,0.288,0.203,0.3299,0.3175,0.152978
37,2018-06-07 12:10:01,0.0,2.9,1.7,-0.19,-1.00,-1.87,-5.33,26.966,316.3,206.0,77.8,6.198621,6.198621,-103.8,0.291,0.205,0.3295,0.3175,0.153008
38,2018-06-07 12:20:01,0.0,2.9,1.7,-0.21,-1.08,-1.91,-5.45,26.897,316.3,206.0,78.0,6.222254,6.222254,-103.3,0.295,0.208,0.3291,0.3176,0.153023
39,2018-06-07 12:30:01,0.0,2.9,1.7,-0.17,-0.93,-1.91,-5.44,26.840,316.4,206.0,77.8,6.212654,6.212654,-103.5,0.300,0.212,0.3288,0.3176,0.153050
40,2018-06-07 12:40:01,0.0,2.9,1.7,-0.18,-0.97,-1.84,-5.25,26.788,316.5,206.0,77.8,6.218463,6.218463,-103.3,0.307,0.216,0.3284,0.3176,0.153016
41,2018-06-07 12:50:01,0.0,2.9,1.7,-0.21,-1.05,-1.83,-5.22,26.761,316.6,207.0,77.8,6.221479,6.221479,-103.3,0.315,0.222,0.3284,0.3177,0.153094
42,2018-06-07 13:00:01,0.0,2.9,1.7,-0.21,-1.07,-1.86,-5.31,26.747,316.7,207.0,77.8,6.223043,6.223043,-103.1,0.325,0.229,0.3285,0.3179,0.153181
43,2018-06-07 13:10:01,0.0,2.9,1.7,-0.22,-1.11,-1.85,-5.28,26.754,316.8,207.0,78.6,6.286240,6.286240,-102.0,0.337,0.237,0.3286,0.3180,0.153207
44,2018-06-07 13:20:01,0.0,2.9,1.7,-0.17,-0.92,-1.81,-5.17,26.794,316.9,207.0,80.4,6.425575,6.425575,-101.8,0.349,0.246,0.3290,0.3181,0.153276
45,2018-06-07 13:30:01,0.0,2.9,1.7,-0.18,-0.94,-1.88,-5.35,26.869,317.0,207.0,82.0,6.544621,6.544621,-101.2,0.362,0.256,0.3296,0.3182,0.153335
46,2018-06-07 13:40:01,0.0,2.9,1.7,-0.19,-0.98,-1.91,-5.45,26.947,317.2,207.0,82.5,6.575315,6.575315,-101.0,0.376,0.265,0.3302,0.3184,0.153385
47,2018-06-07 13:50:01,0.0,2.9,1.7,-0.17,-0.92,-1.83,-5.22,27.059,317.2,207.0,83.2,6.617805,6.617805,-100.6,0.392,0.277,0.3310,0.3185,0.153428
48,2018-06-07 14:00:01,0.0,2.9,1.7,-0.18,-0.95,-1.79,-5.11,27.202,317.3,207.0,84.3,6.688158,6.688158,-100.1,0.409,0.289,0.3322,0.3187,0.153565
49,2018-06-07 14:10:01,0.0,2.8,1.7,-0.18,-0.97,-1.83,-5.21,27.365,317.4,207.0,85.3,6.747823,6.747823,-99.9,0.429,0.303,0.3333,0.3189,0.153597
50,2018-06-07 14:20:01,0.0,2.9,1.7,-0.18,-0.94,-1.89,-5.38,27.552,317.5,207.0,86.2,6.796333,6.796333,-99.3,0.452,0.319,0.3347,0.3191,0.153696
51,2018-06-07 14:30:01,0.0,2.8,1.7,-0.19,-0.98,-1.85,-5.27,27.719,317.6,208.0,86.3,6.784044,6.784044,-99.0,0.470,0.332,0.3359,0.3194,0.153760
52,2018-06-07 14:40:01,0.0,2.9,1.7,-0.17,-0.90,-1.78,-5.08,27.859,317.6,208.0,86.9,6.814259,6.814259,-99.1,0.489,0.345,0.3370,0.3195,0.153856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6238,2018-07-20 13:40:01,0.0,1.9,1.4,0.87,3.25,1.47,4.04,16.772,15761.4,10110.0,0.8,0.073528,0.073528,-10.7,-0.391,-0.000,13.1099,15.5545,9.117398
6239,2018-07-20 13:50:01,0.0,1.9,1.4,0.89,3.34,1.42,3.88,16.741,15762.0,10110.0,0.8,0.073574,0.073574,-10.6,-0.397,-0.000,13.1010,15.5545,9.117679
6240,2018-07-20 14:00:01,0.0,2.0,1.4,0.91,3.41,1.45,3.96,16.716,15762.6,10111.0,0.8,0.073612,0.073612,-10.7,-0.389,-0.000,13.0934,15.5547,9.117587
6241,2018-07-20 14:10:01,0.0,1.9,1.4,0.88,3.29,1.45,3.96,16.690,15763.9,10111.0,0.8,0.073651,0.073651,-10.6,-0.395,-0.000,13.0864,15.5555,9.118171
6242,2018-07-20 14:20:01,0.0,1.9,1.4,0.89,3.31,1.46,3.99,16.665,15763.6,10111.0,0.8,0.073689,0.073689,-10.6,-0.385,-0.000,13.0785,15.5547,9.117851
6243,2018-07-20 14:30:01,0.0,1.9,1.4,0.88,3.30,1.43,3.92,16.639,15764.8,10111.0,0.8,0.073728,0.073728,-10.6,-0.391,-0.000,13.0713,15.5555,9.118283
6244,2018-07-20 14:40:01,0.0,1.9,1.4,0.91,3.39,1.49,4.07,16.616,15765.5,10111.0,0.8,0.073763,0.073763,-10.6,-0.394,-0.000,13.0646,15.5557,9.118415
6245,2018-07-20 14:50:01,0.0,1.9,1.4,0.91,3.40,1.50,4.12,16.591,15765.4,10111.0,0.8,0.073801,0.073801,-10.5,-0.395,-0.000,13.0569,15.5552,9.118243
6246,2018-07-20 15:00:01,0.0,1.9,1.4,0.89,3.31,1.44,3.94,16.568,15765.9,10111.0,0.8,0.073836,0.073836,-10.5,-0.394,-0.000,13.0501,15.5553,9.118297
6247,2018-07-20 15:10:01,0.0,1.9,1.4,0.91,3.39,1.44,3.95,16.546,15766.7,10111.0,0.8,0.073869,0.073869,-10.5,-0.394,-0.000,13.0440,15.5557,9.118655
6248,2018-07-20 15:20:01,0.0,1.9,1.4,0.89,3.32,1.46,3.99,16.523,15765.9,10110.0,0.8,0.073905,0.073905,-10.5,-0.383,-0.000,13.0362,15.5545,9.117952
6249,2018-07-20 15:30:01,0.0,1.9,1.4,0.89,3.34,1.48,4.06,16.502,15767.4,10111.0,0.8,0.073936,0.073936,-10.5,-0.389,-0.000,13.0307,15.5556,9.118536
6250,2018-07-20 15:40:01,0.0,1.9,1.4,0.89,3.32,1.42,3.89,16.480,15767.5,10111.0,0.8,0.073970,0.073970,-10.5,-0.393,-0.000,13.0238,15.5553,9.118287
6251,2018-07-20 15:50:01,0.0,1.9,1.4,0.91,3.42,1.49,4.08,16.461,15769.1,10112.0,0.8,0.073999,0.073999,-10.5,-0.387,-0.000,13.0194,15.5565,9.119251
6252,2018-07-20 16:00:01,0.0,1.9,1.4,0.89,3.33,1.53,4.19,16.441,15769.1,10112.0,0.8,0.074029,0.074029,-10.4,-0.391,-0.000,13.0132,15.5562,9.119078
6253,2018-07-20 16:10:01,0.0,2.1,1.4,0.94,3.54,2.63,7.26,16.413,15768.4,10111.0,0.8,0.074072,0.074072,-10.2,-0.328,-0.000,13.0039,15.5550,9.118364
6254,2018-07-20 16:20:01,0.0,2.1,1.4,0.92,3.45,1.97,5.42,16.403,15771.6,10113.0,0.8,0.074087,0.074087,-10.0,-0.231,-0.000,13.0035,15.5580,9.120325
6255,2018-07-20 16:30:01,0.0,2.1,1.5,0.84,3.13,1.64,4.49,16.474,15774.7,10116.0,0.8,0.073977,0.073977,-10.0,-0.299,-0.000,13.0280,15.5623,9.122825
6256,2018-07-20 16:40:01,0.0,2.1,1.5,0.80,2.97,1.39,3.79,16.607,15777.8,10119.0,0.8,0.073773,0.073773,-10.0,-0.343,-0.000,13.0722,15.5677,9.126187
6257,2018-07-20 16:50:01,0.0,2.1,1.5,0.78,2.87,1.25,3.39,16.759,15775.2,10119.0,0.8,0.073544,0.073544,-10.2,-0.339,-0.000,13.1173,15.5679,9.125895
6258,2018-07-20 17:00:01,0.0,2.1,1.5,0.79,2.93,1.25,3.41,16.888,15774.7,10120.0,0.8,0.073349,0.073349,-10.3,-0.337,-0.000,13.1574,15.5697,9.126990
6259,2018-07-20 17:10:01,0.0,2.1,1.5,0.82,3.05,1.28,3.49,17.023,15774.3,10122.0,0.8,0.073146,0.073146,-10.3,-0.336,-0.000,13.1994,15.5719,9.128129
6260,2018-07-20 17:20:01,0.0,2.1,1.5,0.79,2.93,1.21,3.31,17.205,15771.1,10122.0,0.8,0.072876,0.072876,-10.3,-0.329,-0.000,13.2537,15.5721,9.127879
6261,2018-07-20 17:30:01,0.0,2.1,1.5,0.87,3.26,1.77,4.86,17.356,15767.9,10122.0,0.8,0.072652,0.072652,-10.3,-0.247,-0.000,13.2983,15.5719,9.127300
6262,2018-07-20 17:40:01,0.0,2.1,1.5,0.83,3.07,1.43,3.92,17.506,15774.1,10128.0,0.8,0.072429,0.072429,-10.4,-0.226,-0.000,13.3507,15.5809,9.132688
6263,2018-07-20 17:50:01,0.0,2.1,1.5,0.82,3.06,1.27,3.45,17.698,15774.4,10130.0,0.8,0.072148,0.072148,-10.5,-0.207,-0.000,13.4113,15.5850,9.134714
6264,2018-07-20 18:00:01,0.0,2.1,1.6,0.83,3.10,1.31,3.58,17.850,15769.6,10129.0,0.8,0.071928,0.071928,-10.5,-0.196,-0.000,13.4553,15.5833,9.133347
6265,2018-07-20 18:10:01,0.0,2.1,1.6,0.82,3.06,1.35,3.70,18.001,15768.2,10130.0,0.9,0.080673,0.080673,-10.5,-0.190,-0.000,13.5016,15.5850,9.133860
6266,2018-07-20 18:20:01,0.0,2.1,1.6,1.47,5.63,6.54,18.21,18.242,15744.4,10118.0,0.9,0.080290,0.080290,-10.4,-0.080,-0.000,13.5570,15.5664,9.121134
6267,2018-07-20 18:30:01,0.0,2.1,1.6,1.20,4.55,4.10,11.39,18.525,15759.4,10132.0,0.9,0.079832,0.079832,-10.5,-0.050,-0.000,13.6597,15.5873,9.133503

In [38]:
pandas.__version__

'0.23.3'